In [2]:
type("nn")

str

In [3]:
a = 10

In [5]:
a = "string"

In [7]:
print(a)

string

In [10]:
a = 3.14

In [11]:
print(a, type(a))

3.14 <class 'float'>

In [23]:
for i in range(5):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****

In [25]:
arr = ["sds", 233, 3.14]
type(arr)

list

In [26]:
arr

['sds', 233, 3.14]

In [27]:
arr = ["바나나", "사과", "귤", "포도", "낑깡"]

In [28]:
for i in range(len(arr)):
    print(arr[i])

바나나
사과
귤
포도
낑깡

In [29]:
for key in arr:
    print(key)

바나나
사과
귤
포도
낑깡

In [34]:
arr[-4]

'사과'

In [35]:
arr.append(2)
arr

['바나나', '사과', '귤', '포도', '낑깡', 2]

In [38]:
arr.insert(2,31)
arr

['바나나', '사과', 31, '귤', '포도', '낑깡', 2, 31]

In [43]:
arr.count("사과")

1

In [44]:
arr.index(31)

2

In [45]:
arr.index(31, -1)

7

In [46]:
arr.pop(1)

'사과'

In [47]:
arr

['바나나', 31, '귤', '포도', '낑깡', 2, 31]

In [49]:
arr.extend([1, 32, 92])

In [50]:
arr

['바나나', 31, '귤', '포도', '낑깡', 2, 31, 1, 32, 92]

In [51]:
rr = ["감", '수박']
arr.extend(rr)

In [52]:
arr

['바나나', 31, '귤', '포도', '낑깡', 2, 31, 1, 32, 92, '감', '수박']

In [53]:
arr.append(rr)

In [55]:
arr

['바나나', 31, '귤', '포도', '낑깡', 2, 31, 1, 32, 92, '감', '수박', ['감', '수박']]

In [56]:
dic = {'1':"감자", "고양이": "껌"}
print(dic, type(dic))

{'1': '감자', '고양이': '껌'} <class 'dict'>

In [59]:
dic["고양이"] = '샌드위치'

In [60]:
dic["고양이"]

'샌드위치'

In [61]:
dic["원두"] = "커피"

In [62]:
dic["원두"]

'커피'

In [63]:
dic

{'1': '감자', '고양이': '샌드위치', '원두': '커피'}

In [64]:
dic.keys()

dict_keys(['1', '고양이', '원두'])

In [65]:
dic.items()

dict_items([('1', '감자'), ('고양이', '샌드위치'), ('원두', '커피')])

In [68]:
a = 1
if (a != 1):
    print("ㄴㄴ")
elif ( a == 1):
    print("ㅇㅇ")

ㅇㅇ

In [79]:
arr = [1, 3, 4, 7, 5, 2, 7, 7, 1, 3]
arr

[1, 3, 4, 7, 5, 2, 7, 7, 1, 3]

In [80]:
set(arr)

{1, 2, 3, 4, 5, 7}

In [81]:
arr

[1, 3, 4, 7, 5, 2, 7, 7, 1, 3]

In [82]:
fruits = ["banana", "apple", "pineapple", "watermelon", "orange"]

In [88]:
for i in range(0, len(fruits), 2):
    print(fruits[i], end=" ")

banana pineapple orange

In [90]:
fruits.sort()
fruits

['apple', 'banana', 'orange', 'pineapple', 'watermelon']